* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1000px;
    margin: 15px auto;
}

.item {
    width: 30%;
    background-color: white;
    position: relative;
    display: inline-block; 
    margin: 5px 3px;
}

div.image img {
    width: 100%;
}

div.image img:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

div.image:hover img:last-child {
    display: none;
}

#discount, #sustainable, #last-sustainable {
    color: white;
}

#discount {
    position: absolute;
    background-color: #e7072d;
    left: 0;
    bottom: 80px;
    padding: 5px;
}

#sustainable {
    position: absolute;
    left: 51px;
    bottom: 80px;
    background-color: rgb(13, 121, 94);
    padding: 5px;
}

#last-sustainable {
    position: absolute;
    left: 0;
    bottom: 80px;
    background-color: rgb(13, 121, 94);
    padding: 5px;
}

#heart {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 30px;
    background-color: white;
    padding: 10px 15px;
}

#current-price {
    color: red;
}

#old-price {
    text-decoration: line-through;
}


   
