.container {
    width: 1000px;
    margin: 10px auto;
}

.image-container {
    width: 33%;
    display: inline-block;
    position: relative;
}

.image-container img {
    width: 100%;
}

.image-container:hover img {
    display: none;
}

.image-container img.turn-image {
    display: none;
}

.image-container:hover img.turn-image {
    display: block;
}

#discount, #sustainable, #last-sustainable {
    color: white;
}

#discount {
    position: absolute;
    top: 430px;
    background-color: orangered;
    padding: 5px;
}

#sustainable, #last-sustainable {
    position: absolute;
    top: 430px;
    background-color:lightseagreen;
    padding: 5px;

}

#sustainable {
    left: 50px;  
}

#last-sustainable {
    left: 0; 
}

#heart {
    font-size: 30px;
    background-color: white;
    padding: 10px 15px;
    position: absolute;
    top: 20px;
    right: 0;
}

#current-price {
    color: red;
}

#old-price {
    text-decoration: line-through;
}